body
  padding: 0
  margin: 0
  font-family: arial, helvetica, sans-serif
  color: #000

dialog
 background: rgba(0, 0, 0, 0.8)
 box-shadow: 0 0 100px rgba(185, 50, 50, 0.8)
 border-radius: 10px
 position: fixed
 top: 0
 right: 0
 bottom: 0
 left: 0

a:focus
  outline:none

.page
  max-width: 1400px
  margin: 0 auto

.wrap
  max-width: 840px
  margin: 0 auto

.header
  text-align: center
  position: fixed
  top:0
  left:0
  right: 0
  width: 100%
  height: 50px
  background: rgba(4,4,4,0.7)
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5)
  z-index: 99

.header
  text-align: center
  position: fixed
  top:0
  left:0
  right: 0
  width: 100%
  height: 50px
  background: rgba(4,4,4,0.7)
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5)
  z-index: 99

.header__menu
  text-align: center
/*Бургер меню*/
.menu
  position: fixed
  top: 4.1%
  left: 5%
  -webkit-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
  z-index: 100

.main-menu__toggle
  position: absolute
  top: 5px
  left: 15px
  display: none
  height: 40px
  width: 40px
  border: 3px solid #ef5829
  border-radius: 0
  -webkit-transition: border-radius 300ms ease
  transition: border-radius 300ms ease

.menu__btn:hover
  border-radius: 50%

.menu__btn.is-open .menu__burger
  opacity: 0
  -webkit-transform: translateX(45px)
          transform: translateX(45px)

.menu__btn.is-open .menu__exit
  opacity: 1
  -webkit-transform: translateX(0)
          transform: translateX(0)

.menu__burger,
.menu__burger:before,
.menu__burger:after {
  display: block
  content: ''
  width: 18px
  height: 3px
  background-color: white
  position: absolute

.menu__burger
  left: 8px
  top: 16px
  -webkit-transform: translateX(0)
          transform: translateX(0)
  opacity: 1;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease
  transition: opacity 300ms ease, -webkit-transform 300ms ease
  transition: opacity 300ms ease, transform 300ms ease
  transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease

.menu__burger:before
  top: -8px

.menu__burger:after
  top: 8px;

.menu__exit:before,
.menu__exit:after
  display: block
  content: ''
  width: 22px
  height: 3px
  background-color: white
  position: absolute
}
.menu__exit
  position: absolute
  left: 6px
  top: 16px
  -webkit-transform: translateX(-45px)
          transform: translateX(-45px)
  opacity: 0
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease
  transition: opacity 300ms ease, -webkit-transform 300ms ease
  transition: opacity 300ms ease, transform 300ms ease
  transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease
}
.menu__exit:before
  -webkit-transform: rotate(45deg)
          transform: rotate(45deg)

.menu__exit:after
  -webkit-transform: rotate(-45deg)
          transform: rotate(-45deg)

/*Горизонтальное меню*/
.main-menu__list
  margin: 0
  padding: 0


.main-menu__list li
  position: relative

.main-menu__list li + li::before
  content: ""
  position: absolute
  top: 50%
  left: 0
  margin-top: -10px
  width: 2px
  height: 20px
  background-color: #fff

.main-menu__list-item
  display: inline-block
  padding:0

.main-menu__link
  text-decoration: none
  font-size:20px
  letter-spacing: 1px
  color: #fff
  display: block
  padding: 10px 10px

/*цвет верхнего меню при навидении и нажатии*/
.main-menu__link:focus,
.main-menu__link:link,
.main-menu__link:hover
  color: #ef5829

.header__feedback
  position: absolute
  top:1px
  right: 20px
  font-size: 16px
  font-style: italic
  color: #fff

.header__feedback-tel
  color: #fff

.header__feedback-tel:link
  color: #fff

.header__feedback-tel:hover
  color: #F15A24
  text-decoration: none

.header__feedback::before
  display: inline-block
  position: relative /*свойство*/
  top:12px
  right: 8px
  content: ""
  background: url("../images/phone.png") no-repeat
  width: 32px /*значение*/
  height: 32px



.promo
  position: relative
  min-height: 600px
  display: block
  background: url("../images/promo_full.jpg") center bottom no-repeat
  background-size: cover
  margin-bottom: 50px

.promo__image-mask
  position: absolute
  bottom: 0
  left:0
  right: 0

.promo__logo__image
  display: block
  width: 40%
  height: auto
  margin: 0 auto
  margin-bottom: 70px

.promo__title
  position: relative
  top:300px
  letter-spacing: 2px
  font-size: 50px
  text-align: center
  color: #FFFFFF
  line-height:1

/*gallery*/
.gallery
  padding-top:50px
  margin-bottom: 220px


.gallery__title
  text-align: center
  font-size:  4vw
  font-weight:400
  line-height:1.3
  margin-bottom: 150px

.gallery__title::after
  content: ""
  background: url("../images/gallery/the_arrow_for_the_gallery.svg") no-repeat
  display: block
  width: 17vw
  height: 2vw
  margin: 10px auto 0


.gallery__image
  width: 100%
  border-radius: 50%
  border: 0.3vw solid #F15A24

.gallery__subtitle
  font-size: 2vw
  letter-spacing: 1px
  font-weight:normal
  text-align: center
  color: #000

.gallery__list
  list-style: none
  margin: 0
  padding: 0
  text-align: center

.services
  padding-top:100px
  text-align: center
  margin-bottom: 50px

.services__title
  text-align: center
  font-size: 55px
  line-height:1.3
  margin-bottom: 7vw

.services__title-inner
  border: 2px solid
  padding: 0.4vw 2.7vw


.services__image-box
  position:relative
  margin:40px 0 0

.services__image-container
 display: inline-block
 position: relative
 overflow: hidden
 border-radius: 50%

.services__image
  display: inline-block
  max-width: 100%
  height: auto


.services__image-shadow
  position:absolute
  top:0
  right:0
  bottom:0
  left:0

.services__image-shadow__part1
  width:50%
  float:left
  padding-bottom:50%
  background:#000
  opacity: 0.7

.services__image-shadow__part2
  width:50%
  float:left
  padding-bottom:50%
  background:#000
  opacity: 0.6

.services__image-shadow__part3
  width:50%
  float:left
  padding-bottom:50%
  background:#000
  opacity: 0.5

.services__image-shadow__part4
  width:50%
  float:left
  padding-bottom:50%
  background:#000
  opacity: 0.4

.services__item-container
 position: absolute
  top: 0
  right:0
  bottom:0
  left:0
  padding-bottom: 100%

.services__item-container__inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-align: center
  color: #000

.services__item-container__inner:after
  content: ""
  display: inline-block
  vertical-align: middle
  width: 0
  height: 100%

.services__item-content
  display: inline-block
  vertical-align: middle
  max-width: 90%
  color: #fff
  font-size: 20px

.services__item-title
  font-size: 30px

.services__items::after,
.services__items::before
  display: inline-block
  position: absolute
  content: ""
  width: 220px
  height: 100%
  border: 1px solid


.services__items::before
  border-right: none
  left: 0
  top: 0


.services__items::after
  border-left: none
  right: 0
  top: 0


.services__items
    height: 540px
    margin: auto
    position: relative
    max-width: 860px

.services__items-after::before,
.services__items-after::after
  display: inline-block
  position: absolute
  content: ""
  border-bottom: 1px solid

.services__items-after::before
  width: 250px
  bottom: 10px
  left: 280px

.services__items-after::after
  width: 300px
  left: 255px
  bottom: 0

/*about*/
.about
  padding-top:100px

.about__header
  text-align: center
  width: 100%
  font-size: 55px

  color: #fff
  background-color: #ee964c
  margin-bottom: 100px

.about__card
  text-align: center

.about__card-img
  border-radius: 50%
  border: #ee964c

.about__card-list
  text-align: center
  line-height: 1.3em

.about__card-text
  padding-top: 5px
  font-size: 18px
  line-height: 1.3em

.about__card-title
  font-size: 30px
  font-style: italic
  line-height: 1.3em

.about__card-label
font-size: 22px
line-height: 1.3em

.about__title
  font-weight: bold
  font-size: 50px

.about__subtitle
  font-size: 70%
  font-weight:normal
  line-height:1
  margin-bottom: 31px

.about__card-box
width: 100%
height: auto

.about__card-img
width: 100%

.about__text
  width: 80% /*Размер текста*/
  font-size: 16px
  line-height: 1.3
  margin-bottom: 45px

.about__contacts
  margin-bottom: 30px
  font-size: 18px

.about__contacts-tel
  text-decoration:none
  color: #ee964c
  font-size: 120%

.about__contacts-tel:link
  text-decoration: #808080
  color: #ee964c

.about__contacts-tel:hover
  text-decoration: none
  color: #808080

.about__contacts-email
  text-decoration:none
  color: #808080

.about__contacts-email:link
  color: #808080
  text-decoration: none

.about__contacts-email:hover
  text-decoration: none
  color: #ee964c

/*advantages*/
.advantages
  margin 0
  margin-bottom 5vw

.advantages__text
  display inline-block
  vertical-align middle
  max-width 90%
  font-size 1vw
  line-height 1.1
  color #fff

.advantages__text-big
	font-size:3.2vw

// class1, class2, class3
.class1
  position relative
  width 100%

.class2
  width 100%
  border-radius 100%
  padding-bottom 100%

.class3
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  text-align center
  color #000

.class3:after
  content ""
  display inline-block
  vertical-align middle
  width 0
  height 100%

.advantages__circle-color1
  background-color #f88b65

.advantages__circle-color2
  background-color #f15a23

.advantages__circle-color3
  background-color #ee1b24

/*.diploms */
.diploms
  width 940px
  text-align center
  margin 0 auto

.diploms-mobile
  display none

.diploms:last-child
  margin-right 0

.diploms__item-fancybox
  display inline-block
  margin-right 10px
  height 201px
  width 142px
  overflow hidden
  box-shadow 10px 10px 10px rgba(0,0,0,0.3)


.diploms__item-fancybox > img
  width 100%
  height 100%
  border-radius 5px
  box-shadow 0 0 0 1px #fff
  border 1px solid #eee
  transition all .50s ease-in-out
  -webkit-transition all .50s ease-in-out
  -moz-transition all .50s ease-in-out
  -ms-transition all .50s ease-in-out
  transform-origin:50% 50%

.diploms__item-fancybox:hover > img
  transform scale(1.2)

 /*footer*/
.footer
  margin-top 50px
  text-align center
  color #fff
  background-color: #ee964c
  box-shadow: inset 0 10px 30px rgba(0,0,0,0.5)

.footer .container
  position: relative

.footer__feedback
  padding-top 20px
  font-size 19px
  font-style italic
  color #fff

.footer__feedback::before
 display inline-block
 position relative
 top 10px
 right 15px
 content ""
 background url("../images/phone.png") no-repeat
 width 32px
 height 32px

.footer__feedback-phone
  color: #fff

.footer__feedback-phone:link
  color #fff
  text-decoration none

.footer__feedback-phone:hover
  color #F15A24
  text-decoration: none

.footer__dev
  position absolute
  top 0
  right 15px
  padding-top 18px

.footer__dev img
  width: 100%


.footer__box-name
  vertical-align: middle

  .footer__box-logo
  display inline-block
  overflow hidden
  width 60px
  height 60px
  border-radius 50%
  border 2px solid #fff
  vertical-align: middle

.footer__box-logo:hover
  -webkit-box-shadow 0 0 20px rgba(0,0,0,0.7)
  -moz-box-shadow 0 0 20px rgba(0,0,0,0.7)
  box-shadow 0 0 20px rgba(0,0,0,0.7)

.footer__copyright
  padding-top 20px
  text-align center

/*@media*/
@media (max-width: 1366px)
  .gallery__subtitle
    font-size 3vw

@media (max-width: 950px)
  .diploms
    width 600px

@media (max-width: 850px)
  .main-menu__list
    display none

 .main-menu.is-open
 .main-menu__list
    display block

  .services__items-after::before,
  .services__items-after::after,
  .services__items::after,
  .services__items::before
    border 0

@media (max-width: 768px)
  .promo min-height: 300px
    background url("../images/promo_full_small.jpg") center bottom no-repeat
    background-size cover

  .main-menu__toggle
    display block

  .main-menu__list
    position absolute
    top 100%
    left 0
    right 0
    background-color: rgba(0,0,0,.7)
    margin 0

  .main-menu__list-item
    display block


  .main-menu__list li + li::before
    content: none

  .main-menu__list li
    border-bottom: 1px solid rgba(255,255,255,0.2)

  .header__feedback
    position relative
    text-align center
    top auto
    right auto
    display inline-block
    margin-top: 14px

  .header__feedback-label
    display none

  .header__feedback::before
    background url("../images/phone_small.png") no-repeat
    top 6px
    right: 6px
    width: 23px
    height: 22px

  .header__feedback:hover
    text-shadow: 1px 1px 2px #000, 0 0 1em #f00

  .promo__logo__image
    width 60%

  .promo__title
    top 200px
    font-size 25px

    .promo-logo__image
    width: 70%

.gallery
  padding-top:180px

.gallery__title
  font-size: 11vw
  margin-bottom: 5vw

.gallery__title::after
  width 46vw
  height 4vw

.gallery__image
 width 100%
 border: 1vw solid #F15A24

.gallery__list-item
  text-align: center

.gallery__subtitle
 margin: 1vw auto 6vw
 font-size 4vw

/*services*/
.services{
  padding-top 250px

.services__title
  font-size: 11vw

.services__title-inner
  border 0.5vw solid;

.services__item-label
  font-size 4vw

.services__item-title
  font-size: 6vw

.services__item-price
  font-size: 4vw

/*about*/
.about
  padding-top 250px

.about__header
  font-size:11vw;
  /*line-height:1.3;*/

.about__card-img
  width: 80%;

.about__card-text
  font-size 5.5vw

.about__card-title
  font-size: 9vw

.about__card-label
  font-size: 6vw

/*advantages*/
.advantages
  margin-bottom 10vw

  .advantages__text
  font-size 10px
  line-height 1

  .advantages__text-big
  font-size:20px

  .diploms
    display none

  .diploms-mobile
    display block

@media (max-width:760px)
  .advantages__text
  font-size 6vw

  .advantages__text-big
  font-size:8vw

@media (max-width:560px)
.footer__dev
  position: relative
  right 0

@media (max-width:500px)
  .gallery__subtitle
    font-size 6vw

@media (min-width:360px)
.about__text
  margin-left: 40px

 .about__contacts
  margin-left 40px
